name: Deploy infrastructure

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    outputs:
      public-ip:
        description: "The IPv4 address of the deployed server"
        value: ${{ jobs.deploy.outputs.public-ip }}

jobs:
  deploy:
    name: Deploy infrastructure
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - run: |
          cat > .env.private <<EOF
          ${DOTENV}
          EOF
        env:
          DOTENV: ${{ secrets.DOTENV_PRIVATE }}

      - run: |
          export $(cat .env | xargs)
          export $(cat .env.private | xargs)
          terraform init -backend-config=backend.hcl
          terraform apply -input=false -auto-approve
          echo "public-ip=$(terraform output -raw ipv4)" >> $GITHUB_OUTPUT
        name: Terraform apply
        id: tf-output
    outputs:
      public-ip: ${{ steps.tf-output.outputs.public-ip }}
