name: Deploy

on:
  push:
    branches:
      - main

jobs:
  infrastructure:
    name: Deploy infrastructure
    uses: ./.github/workflows/infrastructure.yaml
    with:
      environment: prd
    secrets: inherit

  services:
    name: Start services
    needs: infrastructure
    environment: prd
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/prepare-docker
        with:
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh_ip: ${{ needs.infrastructure.outputs.public-ip }}

      - name: Deploy services
        shell: bash
        run: |
          # Clear and copy entire repo to remote using tar over SSH
          ssh -i ~/.ssh/id_ed25519 $HOST 'rm -rf /app && mkdir -p /app'
          tar czf - . | ssh -i ~/.ssh/id_ed25519 $HOST 'cd /app && tar xzf -'
          
          # Deploy on remote
          ssh -i ~/.ssh/id_ed25519 $HOST 'cd /app && podman-compose up -d && bash reload_proxy.sh'
        env:
          HOST: root@${{ needs.infrastructure.outputs.public-ip }}
